@use "sass:math";

@import "mixins/reset.scss";

.chart {
	page-break-inside: avoid;

	display: grid;
	grid-template-areas:
		"title title"
		"y chart"
		". x";

	grid-template-columns: calc(1em + 11ch) 1fr;
}

.chart__title {
	display: block;

	margin-bottom: 1.5em;
}

.chart__area {
	grid-area: chart;
	aspect-ratio: 16 / 9;

	position: relative;
	isolation: isolate;
}

///////////
// TITLE //
///////////
.chart__title {
	grid-area: title;
}

////////////
// LEGEND //
////////////
.chart__legend {
	position: absolute;
	top: 0;
	right: 0;

	padding: 0.2em 0.4em;
	border: 1px solid currentColor;
}

// .chart__legend__title {}

.chart__legend__items {
	@include list-reset;
}

.chart__legend__item {
	display: flex;
	align-items: center;
}

.chart__legend__item__swatch {
	width: 1em;
	height: 1em;
	margin-right: 1em;
}

.chart__legend__item__name {
	word-wrap: nowrap;
}

//////////
// AXES //
//////////
.chart__y-axis {
	grid-area: y;
	position: relative;

	// Padding to leave space for axis label
	padding-left: 1em;
}

.chart__y-axis__label {
	position: absolute;
	top: 50%;
	right: 100%;

	transform-origin: 0 0;
	transform: translateX(100%) rotate(-90deg) translateX(-50%);

	line-height: 1;
}

.chart__y-axis__value-list {
	@include list-reset;

	border-right: 1px solid black;
	margin-top: -1px;
	// Extra 2px to make gridline and axis borders align
	height: calc(100% + 2px);

	position: relative;
}

.chart__y-axis__value {
	position: absolute;
	right: 0;

	transform: translate(0, 50%);

	width: 100%;
	text-align: right;
	padding-right: 1ch;
}

.chart__x-axis {
	grid-area: x;
	position: relative;

	// Padding to leave space for axis label
	padding-bottom: 1em;
}

.chart__x-axis__label {
	position: absolute;
	top: 100%;
	right: 50%;
	transform: translate(-50%, -100%);

	line-height: 1;
}

.chart__x-axis__value-list {
	@include list-reset;

	display: flex;
	justify-content: space-between;

	border-top: 1px solid black;
}

.chart__x-axis__value {
	flex: 1 1 0;
	width: 0;

	text-align: center;
}

///////////////
// GRIDLINES //
///////////////
.chart__y-gridlines {
	@include list-reset;

	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
}

.chart__y-gridline {
	position: absolute;
	left: 0;
	width: 100%;

	height: 1px;
	background: gray;
}

//////////
// BARS //
//////////
.chart__bar-groups {
	@include list-reset;

	display: flex;
	justify-content: space-between;

	height: 100%;
}

.chart__bar-group {
	position: relative;

	flex: 1 1 0;
	width: 0;

	height: 100%;
	display: flex;

	margin: 0 2%;
}

.chart__bar-group-bars {
	@include list-reset;

	padding: 0;
	width: 100%;
	display: flex;
}

.chart__bar-group-bars--stacked {
	flex-direction: column;
	justify-content: flex-end;
	.chart__bar {
		flex: 0 0 auto;
	}
}

.chart__bar {
	position: relative;
	flex: 1 1 0%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	// Tell browsers not to hide the background colour when printing
	color-adjust: exact;
	-webkit-print-color-adjust: exact;
}

.chart__bar__area {
	width: 100%;
	height: 100%;
	flex: 0 0 100%;

	background: black;

	position: relative;
}

.chart__bar__tooltip {
	.chart__bar__area:not(:hover):not(:focus) & {
		@include sr-only;
	}
	.chart__bar__area:hover & {
		// Ensure anything being hovered over is on top
		z-index: 2;
	}

	position: absolute;
	z-index: 1;
	bottom: 100%;
	right: 50%;
	transform: translate(50%, -1em);

	padding: 5px;
	background: rgba(white, 0.9);
	border: 1px solid black;
}
