@import "theme.scss";
@import "mixins/reset.scss";

@import "reset.scss";

@import "typography.scss";

html {
	font-family: Arial, sans-serif;
}

.layout {
	max-width: 800px;
	margin: 60px auto;
}

@import "content.scss";
@import "chart.scss";
