@import "theme";
@import "mixins";

@import "reset";

@import "typography";


html {
	font-family: Arial, sans-serif;
}

.layout {
	max-width: 1200px;
	margin: 60px auto;
	padding: 0 20px;
}

.todo {
	background: yellow;
}

@import "content";
@import "chart";
@import "docs";
